{% extends 'base.html.twig' %}

{% block title %}No Sushis{% endblock %}

{% block body %}
    <style>
        body {
            background-image: url("https://sakurasushimarseille.com/wp-content/uploads/2017/11/Sushi_Laying_Cup_446723.jpg");
            color: #fff !important;
            text-align: center;
            position: relative;
            z-index: 2;
            margin-top: 0;
        }
        body::after {
            content: '';
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0,0,0,0.5);
            z-index: 1;
            top: 0;
            left: 0;
        }

        h1 {
            font-size: 5em;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.2em;
            line-height: 1.5em;
        }

        .description {
            width: 60%;
            display: block;
            margin: 1em auto 2em auto;
            font-weight: 600;
            font-size: 21px;
            line-height: 1.9em;
        }

    </style>


    <h1>No Sushis</h1>

    <div class="description">
        <p>C'est une pure délectation et un instant de plaisir qui vous tendent les bras pour découvrir les saveurs des plats traditionnels habituellement confectionnés dans le pays du Soleil Levant !</p>
    </div>

    <a class="custom-btn custom-btn-yellow custom-btn-big text-uppercase" href="{{ path('app_list') }}">Commander</a>

{% endblock %}
