body {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background-image: url(https://d1oq6ws5qnnbjw.cloudfront.net/category-12801-1920x640/sushi-boxes.jpg);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url(https://d1oq6ws5qnnbjw.cloudfront.net/category-12801-1920x640/sushi-boxes.jpg);
    background-size: cover;
}


.form-outline.form-white .form-control:focus ~ .form-label,
.form-outline .form-control.active ~ .form-label {
    background-color: #1a1b1d;
}

.form-outline.form-white .form-control {
    border: 1px solid white;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #1a1b1d !important;
}
