<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" id="category-delete-{{ category.id }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
</form>
