{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <a class="btn btn-secondary" href="{{ path('app_category_index') }}"> <i class="fa-solid fa-arrow-left pe-2"></i> back to list</a>
    <h1 class="text-center text-uppercase">Nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}
{% endblock %}
