<form method="post" action="{{ path('app_dish_delete', {'id': dish.id}) }}" id="dish-delete-{{ dish.id }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dish.id) }}">
</form>
