{% extends 'base.html.twig' %}

{% block title %}Edit Dish{% endblock %}

{% block body %}
    <h1 class="text-center text-uppercase">Edit dish</h1>

    <a class="btn btn-secondary" href="{{ path('app_dish_index') }}">back to list</a>

    {{ include('dish/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
