{% extends 'base.html.twig' %}

{% block title %}New Dish{% endblock %}

{% block body %}

    <a class="btn btn-secondary" href="{{ path('app_dish_index') }}"> <i class="fa-solid fa-arrow-left pe-2"></i> back to list</a>
    <h1 class="text-center text-uppercase">Create new Dish</h1>

    {{ include('dish/_form.html.twig') }}

{% endblock %}
